* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #dc6bdf;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0px;
}

.center-text {
    background-color: rgb(253, 171, 18);
    box-shadow: -5px -5px 20px whitesmoke, 5px 5px 20px black;
    height: 400px;
    width: 300px;
    padding: 30px;
    position: relative;
}

.Play {
    list-style-type: none;
    padding: 0;
    margin-right: 10px;
    cursor: pointer;


}

.Play>li {
    background-color: white;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 9px rgb(85, 241, 108);
    display: flex;
    align-items: center;
}

.Play>li>img {
    margin-right: 10px;
    border-radius: 5px;
    height: 30px;
    width: 30px;
}

.hide {
    display: none;
}

input {
    padding: 20px;
}

.button {
    display: flex;
    justify-content: space-between; 
    font-size: 50%;
}

.button>sub {
    border: none;
    font-size: 10px;

}

.uve {
    margin-bottom: 15px;
    margin-top: -10px;
    text-align: center;
    font-size: 19px;
    color: rgb(250, 250, 250);
    /* box-shadow: 0 0 10px #140f0f; */
}

.sub {
    width: 45px; 
    height: 45px;
    border-radius: 50%;
    margin: 5px 10px;
    font-size: 14px;
    background-color: whitesmoke;
    cursor: pointer;
    border: none;
    box-shadow: 0 0 10px #100c0c
}

.rang input[type="range"] {
    position: absolute;
    right: -102px;
    transform: rotate(-90deg);
    top: 134px;
    width: 56%;
    background: transparent;
}

.process {
    background-color: black;
    border-radius: 3px;
    margin: 20px;
    margin-left: 10px;

}

.process>.time {
    width: 40%;
    height: 10px;
    background-color: whitesmoke;
    border-radius: 3px;
}